.title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin: 20px 0 8px 0;
    color: #b32323;
}

.description {
    text-align: center;
    margin: 0;
    flex-grow: 1;
    font-size: 24px;
    color: #495057;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #196496;
}